@import "~antd/dist/antd.min.css";
/* import "~antd/dist/antd.variable.min.css"; */

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

@font-face {
  font-family: FZZCYSK;
  src: url("font/FZBIAOYSJW.TTF");
}
